#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	color: var(--header-color);
	background-color: var(--header-bg-color);
}

#content {
	justify-content: center;
	align-items: center;
	flex: 1;

	display: flex;
	flex-direction: column;
	color: var(--content-color);
	background-color: var(--content-bg-color);
}

#footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	color: var(--footer-color);
	background-color: var(--footer-bg-color);
}

#instruction{
  margin-top: 30px;
  text-align: center;
  color: #888;
}

#cards-container{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, 170px);
    width: 70%;
    max-width: 720px;
    margin: 60px;
    justify-content: center;
}

.card-img, .card-img-game-over{
  border:7px solid #fff;
  border-radius: 4px;
  opacity: 1;
}

.card-img-game-over {
  border:7px solid #eee;
  opacity:0.6;
}

.card-img:hover{
  border:7px solid #3cea73;
}

.card-img:active{
  border:7px solid orange; 
}
